# ======================================
# OS specific
# ======================================
# macOS Finder file
.DS_Store
# Windows thumbnail cache
Thumbs.db

# ======================================
# Editor / IDE
# ======================================
# Vim swap files
*.swp

# RStudio project file
# modul-prak ini tidak perlu sharing
*.Rproj
# RStudio project user folder
.Rproj.user/

# VS Code workspace settings
.vscode/
.history/
*.code-workspace

# JetBrains IDEs (kalau ada yang pakai)
.idea/

# ======================================
# Quarto
# ======================================
# Internal Quarto cache/log folder
.quarto/

# Build output folders (do not commit rendered HTML/PDF)
_book/
_site/
docs/
*_files/
site_libs/
*.html
html.json
*listing.json

# ======================================
# renv
# ======================================
renv/library/
renv/staging/
renv/python/
renv/.lock

# ======================================
# venv
# ======================================
*venv*/
venv/
env/
.venv/

# ======================================
# R session files
# ======================================
.Rhistory
.RData
.Ruserdata

/.quarto/

**/*.quarto_ipynb
modul/_spesial*
docs/
