[submodule "modul/2025"]
	path = modul/2025
	url = https://github.com/aslab-math-ui/modul_2025.git
[submodule "modul/2024"]
	path = modul/2024
	url = https://github.com/aslab-math-ui/modul_2024.git
[submodule "modul/2023"]
	path = modul/2023
	url = https://github.com/aslab-math-ui/modul_2023.git
[submodule "modul/2022"]
	path = modul/2022
	url = https://github.com/aslab-math-ui/modul_2022.git
[submodule "modul/_spesial"]
	path = modul/_spesial
	url = https://github.com/aslab-math-ui/modul_spesial.git
[submodule "assets"]
	path = assets
	url = https://github.com/aslab-math-ui/asset.git
