[submodule "modul/2025"]
	path = modul/2025
	url = https://github.com/aslab-math-ui/modul_2025.git
[submodule "modul/_spesial"]
	path = modul/_spesial
	url = https://github.com/aslab-math-ui/modul_spesial.git
